section 
  @extend .flexCenter
  padding: 0 100px 50px 100px
  font-family: $mainFont, serif
  color: #706d6b

.aboutSection
  .wrap
    @extend .flexSA
    background-color: #f8f8f8
    align-items: center
    padding: 60px 0
    margin-top: -70px
    position: relative

    .info 
      @extend .flexCenter
      flex-direction: column
      width: 40%
      font-weight: 100
      line-height: 1.5em

      a
        text-decoration: none
        +font($mainFont, 18px, #706d6b, 400)
        position: relative

      a:before
        content: ''
        position: absolute
        height: 2px
        width: 0
        bottom: -3px
        right: 0
        transition: .6s
        background-color: #706d6b
        
      a:hover:before
        width: 100%
        left: 0
      
      h2
        font-weight: 400

    .photo
      background: url('../img/about/about.jpg') no-repeat center
      background-size: cover
      width: 350px
      height: 550px
      
@media only screen and (max-width: 992px)
  section 
    padding: 0 10px 50px 10px 
    
  .aboutSection
    .wrap 
      flex-direction: column
      
      .info 
        width: 80%
        margin-bottom: 30px
        
      .photo 
        width: 330px
        margin: 0 10px